@keyframes changing {
    0% {
        background: linear-gradient(#ffffff00, #000000), url(./images/1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    50% {
        background: linear-gradient(#ffffff00, #000000), url(./images/2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.page {
    margin: 0px auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', 'Arial', sans-serif !important;
    text-align: center;
}

.nav {
    display: flex;
    margin: 0 auto;
    padding: 0 0 25px 0;
    max-width: 75%;
}

.nav__link {
    white-space: nowrap;
    padding-left: 15px;
    font-size: 2.2vmin;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Bahnschrift";
}

@media screen and (max-width:1280px) {
    .nav__link {
        font-size: 3vmin;
    }
}

.nav__link:hover {
    transition: .5s;
    transition-timing-function: ease-in-out;
    color: rgb(212, 167, 44);
}



.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: linear-gradient(#00000000, #000000), url(./images/1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 70vh;
    animation: changing 30s infinite;
    justify-content: space-between;
}

@media screen and (max-width:1280px) {
    .header {
        min-height: 30vh;
    }
}

.header__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1980px;
    width: 90%;
    margin: 0 auto;
}

.navigation {
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
}

@media screen and (max-width:1280px) {
    .navigation {
        flex-direction: column;
    }
}

.header__logo {
    margin: 0;
    padding: 50px 0 0 0;
    max-width: 320px;
}

@media screen and (max-width:720px) {
    .header__logo {
        padding: 50px 0 0 0;
        max-width: 75%;
    }
}

.header__span {
    text-align: right;
    min-width: 75%;
}

.header__title {
    text-transform: uppercase;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-family: "Bahnschrift";
    opacity: .9;
}

@media screen and (max-width:1280px) {
    .header__title {
        max-width: 80%;
        font-size: 3vw; 
        padding: 50px 0 50px 0;
        margin: 0 auto;
    }
}

.header__text {
    margin: 0 0 0 auto;
    padding: 10px;
    max-width: 60%;
    font-size: 1vmin;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-family: "Bahnschrift";
}

@media screen and (max-width:720px) {
    .header__text {
        font-size: 2.5vmin;
        max-width: 90%;
    }
}

.content {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content__description {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
    padding: 50px 0;
    justify-content: space-around;
}

@media screen and (max-width:1280px) {
    .content__description {
        width: 90%;
    }
}

.content__title {
    text-transform: uppercase;
    font-size: 3.5vmin;
    margin: 0;
    color: rgb(0, 162, 233);
    font-family: "Bahnschrift";
}

@media screen and (max-width:1280px) {
    .content__title {
        font-size: 3.5vmin;
        line-height: 5.5vmin;
    }
}

@media screen and (max-width:480px) {
    .content__title {
        font-size: 4vmin;
        line-height: 5.5vmin;
    }
}

.content__text_white {
    color: rgb(255, 255, 255);
}

.content__button {
    color: rgb(255, 255, 255);
    /* цвет текста */
    border: 0;
    border-radius: 15px;
    text-decoration: none;
    /* убирать подчёркивание у ссылок */
    user-select: none;
    /* убирать выделение текста */
    background: rgb(0, 141, 201);
    /* фон кнопки */
    padding: .7em 1.5em;
    /* отступ от текста */
    outline: none;
    /* убирать контур в Mozilla */
    margin: 25px 0 0 0;
}

.content__button:hover {
    background: rgba(0, 141, 201, 0.5);
}

/* при наведении курсора мышки */
.content__button:active {
    background: rgb(0, 141, 201);
}

.card {
    background-color: rgb(0, 141, 201);
    border-radius: 10px;
}

.cards {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 20px;
    max-width: 1280px;
    margin: 0 auto;
    width: 90%;
}

/* При наведении на карточку - меняем цвет тени */
.card:hover {
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2);
}

.card:checked .card__hidden {
    display: block;
}

.card__text {
    margin: 0;
    padding: 30px 15px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2vmin;
    color: rgb(255, 255, 255);
    font-family: "Bahnschrift";
}

@media screen and (max-width: 720px) {
    .card__text {
        font-size: 3vmin;
        line-height: 4vmin;
    }
}

.content__about {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 50px 0;
    background-color: rgba(227, 233, 243, .5);
}

.content__about:nth-last-child(1) {
    padding: 50px 0 0 0;
}

.content__about_width {
    width: 75%;
}

.content__service_width {
    width: 60%;
}

.content__text {
    margin: 0 auto;
    padding: 25px 0 25px 0;
    text-align: center;
    text-transform: none;
    font-size: 2vmin;
    font-weight: 400;
    line-height: 2.5vmin;
    color: rgb(128, 128, 128);
    font-family: "Bahnschrift";
}

@media screen and (max-width:760px) {
    .content__text {
        font-size: 4vmin;
        line-height: 4vmin;
        width: 90%;
    }
}

.content__service {
    margin: 0 auto;
    text-align: center;
    width: 75%;
    padding: 50px 0;
}

@media screen and (max-width:1280px) {
    .content__service {
        width: 90%;
    }
}

.content__garant {
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    background: linear-gradient(#00000091, #000000c4), url(./images/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content__text_white {
    color: rgb(255, 255, 255);
}

.footer {
    margin: 0 auto;
    width: 100%;
    padding: 70px 0 70px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hwb(198 0% 21%);
}

.footer__text {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vmin;
    line-height: 2.5vmin;
    font-family: "Bahnschrift";
}

@media screen and (max-width:760px) {
    .footer__text {
        font-size: 3.5vmin;
        line-height: 4vmin;
    }
}

.footer__link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 2vmin;
    line-height: 2.5vmin;
    font-family: "Bahnschrift";
}

.footer__link:hover {
    color: #52e5ff;
    transition: .5s;
    transition-timing-function: ease-in-out;
}

@media screen and (max-width:720px) {
    .footer__link {
        font-size: 3.5vmin;
        line-height: 4vmin;
    }
}

.content__text_just {
    text-align: justify;
}

.link {
    white-space: nowrap;
    padding: 5px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 2.5vmin;
    font-family: "Bahnschrift";
}

.link:hover {
    color: hwb(198 0% 21%);
    transition: .5s;
    transition-timing-function: ease-in-out;
}

@media screen and (max-width: 720px) {
    .link {
        font-size: 3.5vmin;
    }
}

.map {
    margin: 0;
    padding-top: 25px;
}

.card__hidden {
    margin: 0 auto;
    padding: 50px;
    display: none;
    background-color: aliceblue;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: justify;
}

.card__hidden_text {
    margin: 0 auto;
    font-size: 2vmin;
    font-family: "Bahnschrift";
    line-height: 2.5vmin;
    padding: 10px;
    font-weight: 400;
}

@media screen and (max-width: 720px) {
    .card__hidden_text {
        font-size: 3.5vmin;
        line-height: 4vmin;
    }
}

.line {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(0, 141, 201);
}

/* псевдоэлемент, отменяет выделение текста стилями при быстрых кликах */
.toggler__label::selection {
    color: none;
    background: none;
}

.toggler {
    margin: 0 auto;
    width: 1280px;
}

@media screen and (max-width: 1380px) {
    .toggler {
        width: 90%;
    }
}

/* Стили для заголовка блока, при нажатии на который появляется дополнительный блок */
.toggler__label {
    display: block;
    margin: 15px auto;
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 141, 201);
    border-radius: 10px;
    width: 90%;
    padding: 30px 15px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2vmin;
    color: rgb(255, 255, 255);
    font-family: "Bahnschrift";
}
@media screen and (max-width: 1380px) {
    .toggler__label {
        font-size: 3vmin;
        padding: 15px 7px;
    }
}


/* скрытый блок позиционируется абсолютно, чтобы не оставлять пустое место */
.toggler__content-box {
    position: absolute;
    transform: translate(-9999px);
    opacity: 0;
}

/* скрываем checkbox */
.toggler__checkbox {
    display: none;
}

/* при нажатии на блок label (каждый label через аттрибут for привязан к конкретному чекбоксу посредством уникального id)
чекбокс меняет свое состояние (но мы этого не видим, так как скрыли его)
и элемент с классом .toggler__content-box, ближайший к нажатому чекбоксу, плавно выдвигается, отображаяя
свое содержимое. */
.toggler__checkbox:checked~.toggler__content-box {
    display: block;
    position: relative;
    transition: opacity .5s linear;
    transform: translate(0);
    opacity: 1;
    cursor: pointer;
    padding: 25px 0 50px 0;
    font-size: 1em;
    text-indent: 30px;
    text-align: justify;
    color: rgb(128, 128, 128);
}
